/**************DIV CLASSES**************/
.displayDivs {
    background: linear-gradient(#DBDDDE, #898C90);
    width: 50vw;
    height: 70vh;
    position: absolute;
    margin:25px 0 0 25vw;
    border-radius: 10px 50px 10px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}

.container{
    max-width: 80vw;
}

.bigContainer {
    width: 60%;
    margin: 0 auto;
}

/**************TEXT CLASSES**************/
.headerTexts {
    margin-top: 20px;
    margin-bottom: 5vh;
    text-align: center;
    font-weight: 900;
}
/**************ADMIN DIV**************/

#adminSettingsDiv {
    background: linear-gradient(#DBDDDE, #898C90);
    width: 50vw;
    height: 70vh;
    position: absolute;
    margin:25px 0 0 25vw;
    border-radius: 10px 50px 10px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}

#openStoreButton, #closeStoreButton {
    width: 20vw;
}

#buttonContainer {
    width: 40%;
    margin: 0 auto;
}

/**************SALES DIV**************/
#checkSalesDiv {
    display: none;
}

#datesList {
    margin-left: 20px;
    width: 20vw;
    display:inline-block;
}

#checkButton, #left, #right {
    display:inline-block;
}

#searchBar {
    display: inline-block;
    width: 20vw;
}


#right {
    margin-left: 50px;
}

/**************ADD ITEM DIV**************/
.addItemLabels {
    margin: 10px 0 0 0;
    display: inline-block;
    min-width: 8vw;
}

#addItemNameInput, #addItemPriceInput, #addItemImgInput, #selectItemTypeList {
    margin: 10px 0 0 0;
    display: inline-block;
    width: 20vw;
}

#addItemSave {
    margin: 10px 0 15px 25vw;
}

/**************REMOVE ITEM DIV**************/

#removeItemNameLabel {
    margin: 10px 0 0 0;
    display: inline-block;
}

#removeItemList {
    margin: 10px 0 0 0;
    display: inline-block;
    width: 20vw;
}

#removeItem {
    margin: 10px 0 15px 20.5vw;
}

/**************EDIT ITEM DIV**************/

.editItemLabels {
    margin: 10px 0 0 0;
    display: inline-block;
    min-width: 8vw;
}

#editItemList, #editItemNameInput, #editItemPriceInput, #editItemImgInput, #editItemTypeList {
    margin: 10px 0 0 0;
    display: inline-block;
    width: 20vw;
}

#editItemSave {
    margin: 10px 0 15px 25vw;
    display: inline-block;
}

/**************ADD EMPLOYEE DIV**************/
.addEmployeeLabels {
    margin: 10px 0 0 20px;
    display: inline-block;
    min-width: 8vw;
}

#selectPositionList, #addEmployeeNameInput, #addEmployeeIdInput, #addEmployeePasswordInput {
    margin: 10px 0 0 0;
    display: inline-block;
    width: 20vw;
}

#addEmployeeSave {
    margin: 10px 0 15px 26.5vw;
}

/**************REMOVE EMPLOYEE DIV**************/

#removeSelectEmployeeLabel {
    margin: 10px 0 0 0;
    display: inline-block;
}

#removeEmployeeList {
    margin: 10px 0 0 10px;
    display: inline-block;
    width: 20vw;
}

#removeEmployee {
    margin: 10px 0 15px 23.7vw;
}

/**************EDIT EMPLOYEE DIV**************/

.editEmployeeLabels {
    margin: 10px 0 0 0;
    display: inline-block;
    min-width: 8vw;
}

#editEmployeeList, #editEmployeeNameInput, #editEmployeeIdInput, #editEmployeePositionList, #editEmployeePasswordInput {
    margin: 10px 0 0 0;
    display: inline-block;
    width:20vw;
}

#editEmployeeSave {
    margin: 10px 0 15px 25.2vw;
}