body {
    margin: 0;
    background-image: url("/pics/blurred.jpg");
    background-position: center;
    background-size: cover;
}
body::selection, div::selection, h1::selection, p::selection, button::selection, input::selection, img::selection, h3::selection {
    background: yellowgreen;
    color: whitesmoke;
}
#display {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
}
#menuDiv {
    position: fixed;
    width: 12%;
    height: 80%;
    left: 2.5%;
    background-image: url("/pics/grass.jpg");
    background-size: 140vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -15px 15px 15px rgba(0,0,0,0.5);
}
#mainLogo {
    position: absolute;
    width: 175px;
    top: 5px;
    left: 50%;
    margin-left: -87.5px;
    opacity: .6;
}
#greens, #meats, #seafood, #bakedGoods, #mollusksBugs, #drinks {
    position: relative;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0));
    top: 120px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    transition: .15s;
    outline: none;
}
#greens {
    height: 60px;
    font-size: 19px;
    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,0));
}
#displayDiv {
    position: fixed;
    right: 0;
    width: 85%;
    height: 100%;
}
#title {
    position: relative;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    color: limegreen;
    text-align: center;
    margin-left: -40px;
    text-shadow: 3px 3px 3px #000, 3px 3px 3px #000;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.3)));
}
#category {
    position: relative;
    top: -20px;
    color: burlywood;
    font-family: 'Baloo', sans-serif;
    font-variant: small-caps;
    font-size: 40px;
    text-align: center;
    margin-left: -40px;
    text-shadow: 3px 3px 3px #000, 3px 3px 3px #000;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,1)));
}
#gDiv, #mDiv, #sDiv, #bgDiv, #mbDiv, #dDiv {
    display: inline;
    position: fixed;
    width: 84%;
    height: 78%;
    bottom: 5px;
    right: 0.5%;
    overflow-y: scroll;
}
#mDiv, #sDiv, #bgDiv, #mbDiv, #dDiv{
    display: none;
}
.newDiv {
    position: relative;
    display: inline-block;
    width: 45%;
    height: 90%;
    top: 15px;
    left: 3%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1.5px 1.5px 1px #000, 1.5px 1.5px 1px #000;
    margin-right: 20px;
    margin-bottom: 25px;
    border: none;
}
.newTitle, .newImg, .newPrice, .newPriceC {
    position: relative;
    top: 10px;
}
.newTitle {
    text-align: center;
    font-size: 25px;
}
.newImg {
    width: 500px;
    left: 50%;
    margin-left: -250px;
    border: none;
}
.newPrice, .newPriceC {
    top: 35px;
    left: 50%;
    display: inline;
    text-align: center;
}
.newPrice {
    font-size: 25px;
    margin-left: -350px;
}
.newPriceC {
    font-size: 20px;
}
.Plus, .Minus, .Counter {
    position: relative;
    display: inline;
    font-size: 25px;
    left: 50%;
    top: 5px;
}
.Plus, .Minus {
    width: 15px;
    cursor: pointer;
}
.Plus {
    margin-left: 3px;
}
.Minus {
    width: 16px;
    margin-left: 45px;
    margin-right: 3px;
}
.Counter {
    width: 20px;
}
.add2Cart {
    position: absolute;
    width: 150px;
    height: 35px;
    left: 50%;
    top: 0;
    margin-top: 308px;
    margin-left: -75px;
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    outline: none;
    transition: .15s;
}
.add2Cart:hover {
    background-color: rgba(0,0,0,.8);
    width: 250px;
    height: 60px;
    font-size: 20px;
    margin-left: -125px;
    margin-top: 295.5px;
    border-radius: 50px;
}
#cart {
    position: absolute;
    cursor: pointer;
    width: 55px;
    top: 3.5%;
    right: 2%;
    transition: .2s;
}
#cart:hover {
    width: 65px;
    right: 1.6%;
    top: 2.7%;
}
#blankDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: rgba(0,0,0,0.7);
}
#cartSection {
    position: fixed;
    height: 100%;
    width: 30%;
    right: -32%;
    color: white;
    background: linear-gradient(rgb(0,155,0), rgb(0,25,0));
    border-left: 2px solid white;
    transition: .2s;
}
#backButton {
    position: absolute;
    width: 50px;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: .1s;
}
#backButton:hover {
    width: 57.5px;
    top: 7px;
    left: 6px;
}
#cartTitle {
    position: relative;
    top: 5px;
    text-align: center;
    color: lime;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}
#ordersList {
    position: relative;
    width: 95%;
    height: 55%;
    top: 18px;
    left: 5%;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    overflow-y: scroll;
}
.removeItem {
    position: relative;
    display: block;
    width: 50px;
    margin-bottom: 20px;
    margin-top: 4px;
    color: lime;
    background-color: rgba(0,0,0,.2);
    border: 2px solid limegreen;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}
.removeItem:hover {
    background-color: limegreen;
    color: white;
}
#totalString, #total {
    position: relative;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    top: 50px;
}
#cusName, #checkout {
    position: relative;
    width: 70%;
    height: 40px;
    left: 15%;
    top: 70px;
    text-align: center;
    margin-bottom: 10px;
    transition: .2s;
    outline: none;
}
#cusName {
    color: white;
    border: none;
    background-color: rgba(0,0,0,0);
    border-bottom: solid 1px green;
    border-radius: 5px 35px 0 0;
}
#cusName:focus {
    box-shadow: 0 0 35px 1px limegreen;
}
#checkout {
    width: 71%;
    background: rgba(0,0,0,.2);
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
#checkout:hover {
    font-size: 23px;
    background: white;
    color: forestgreen;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: limegreen;
}
::-moz-placeholder { /* Firefox 19+ */
    color: limegreen;
}
:-ms-input-placeholder { /* IE 10+ */
    color: limegreen;
}
:-moz-placeholder { /* Firefox 18- */
    color: limegreen;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 5px 0 28px rgba(0,0,0,0.9); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 10px 0px 19px yellowgreen;
}